@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea {
	font-family: 'NanumSquareRound';
	resize: none;
	width: 600px;
	height:200px;
	padding: 10px;
}

.container{
	margin-top: 130px;
}

table{
	border: none;
}

.cate{
	margin-left: 70px;
	margin-bottom: 20px;
}

tr, th, td {
 	padding: 20px;
}
td{
	text-align: left;
}

#title{
	width: 90%;
	height: 30px;
	line-height: 30px;
	border: none;
	border-bottom: 1px solid black;
	padding-left: 20px;
}

.btnSet{
	margin-top:30px;
	display: flex;
	justify-content: center;
}

.btnSet a{
	margin-right: 100px;
    width: 100px;
    padding: 9px;
    border: 1px solid;
    border-radius: 4px;
}